<div class="flip">
    <div class="text-center">
        <button type="button" class="btn btn-default btn-lg" ng-click="previous_word()">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default btn-lg" ng-click="next_word()">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        </button>
    </div>
    <div class="card {{ flipped }}">
        <div class="face front" ng-click="revert()">{{ word.pl }}</div>
        <div class="face back" ng-click="revert()">{{ word.en }}</div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-success btn-lg" ng-click="know_this_word()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger btn-lg" ng-click="dont_know_this_word()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
</div>
